/* CORE FRAMEWORKS */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 3px;
    height: 100%;
    background-color: #dddddd;
}

header,section,nav,footer,div {
    width: 100%;
}

section {
    margin-top: 80px;
    margin-bottom: 180px;
}

.bio {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1400px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.sub-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
}

.flex-left {
    display: flex;
    justify-content: flex-start ;
    padding-left:10px;
    padding-top:10px;
}
.flex-right {
    display: flex;
    justify-content: flex-end;
    padding-right:10px;
    padding-top:10px;
}

/*TYPOGRAPHY*/
h1 {
    font-size: 3.5em;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 75px;
}

/*ICON STYLE*/
ul {
  list-style: none;
  text-align: center;
  overflow: hidden;
  margin-bottom: 70px;
  margin-top: 55px;
}

li {
    display: inline-block;
    margin: 0 -4px;
    padding: 5px 0;
}

ul > li > a {
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
}

ul > li > a:hover, ul > li > a:active {
  background: white;
  color: black
}

a > img {
    height: 60px;
    width: 60px;
}

div > img {
    width: 500px;
    border: 1px solid #bbbbbb;
}

/*BUTTON CSS*/
.button-link {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #ffffff;
  background-color: #383838;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.button-link:hover {
  background-color: #ff5722;
      box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  color: #fff;
  transform: translateY(-7px);
}

/*DIVIDER CSS*/
.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: #dddddd;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px #ffffff,
					0 0 0 4px #dddddd;
}

/*GRADIENT SCROLLING*/
header {
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #e773a0, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    box-shadow: 0px 0px 40px 20px rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/*Mobile Styling*/
@media only screen and (max-width: 600px) {
    .row {
      flex-direction: column;
  }
    .flex-left, .flex-right {
        justify-content: center;
    }
    .bio {
        width: 90%;
    }
    .name, h1 {
        margin-top: 15px;
        margin-bottom: 30px;
        line-height: .9em;
    }
    div > img {
        width: 100%;
        margin-top: 10px;
    }
    ul {
        padding: 0;
        margin-top: 20px;
        margin-bottom:20px;
    }
    section {
        margin-bottom:5px;
        margin-top: 5px;
    }
    .button-row{
        flex-direction: row;
        margin-bottom: 10px;
    }
    header .container {
        height: 80%;
    }
}


