/* CORE FRAMEWORKS */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
}

header,section,nav,footer,div {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1400px;
    text-align: center;
}

.sub-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
}

.flex-left {
    display: flex;
    justify-content: flex-start ;
    padding-left:10px;
    padding-top:10px;
}
.flex-right {
    display: flex;
    justify-content: flex-end;
    padding-right:10px;
    padding-top:10px;
}

.item {

}

/*TYPOGRAPHY*/
h1 {
    font-size: 3em;
}

/*NAVIGATION CSS*/
header {
    background: #10d07e;
}

nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
  list-style: none;
  text-align: center;
  overflow: hidden;
}

li {
    display: inline-block;
    margin: 0 -4px;
    padding: 5px 0;
}

ul > li > a {
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
}

ul > li > a:hover, ul > li > a:active {
  background: white;
  color: black
}

a > img {
    height: 60px;
    width: 60px;
}

img {
    width: 400px;
}

/*BUTTON CSS*/
.button-link {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.button-link:hover {
  background-color: #ff5722;
      box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  color: #fff;
  transform: translateY(-7px);
}




